doctype html
html(lang="en")
  head
    title !{post.title}
    link(href='/css/app.css', rel='stylesheet')

  body
    h1 !{post.title}
    article(class="content") !{post.content}
    footer
      a(href="/posts") Home